h1 {
        color: red;
        font-size: 3em;
        text-align: center;
}

p::first-letter {
        font-size: 2em;
        font-style: italic;
}

p {
        text-align: justify;
}

#paragraphe1::first-letter {
        color: purple;
}

p:not(#paragraphe1)::first-letter {
        color: green;
}

h2.titre:hover {
        color: orange;
}